/************************************************************** HOME PAGE */

#contentWrapHome {
	margin: 15px 0 10px 0;
	padding: 0;
	}
	
#contentWrapHome:after {
    content: "."; 
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #contentWrapHome {height: 1%;}
    /* End Holly Hack */
    
#contentHome {
	width: 100%;
	margin-top: 15px;
	}
 	
#promoHome {
	}
	
#promoHome .img2a {
	float: left;
	}
	
#promoHome .img2b {
	float: right;
	}

#promoHome .img3a {
	float: left;
	margin-right: 15px;
	}
	
#promoHome .img3b {
	float: left;
	}
	
#promoHome .img3c {
	float: right;
	}
	
#promoHome:after {
    content: "."; 
    display: block; 
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #promoHome {height: 1%;}
    /* End Holly Hack */
    
#contentHomeMain {
	width: 360px;
	padding-top: 7px;
	float: left;
 	background: url(/g/chrome/corner_homelinebox_top.png) top right no-repeat;
 	margin-bottom: 15px;
	}
	
#contentHomeMainInner {
 	background: url(/g/chrome/corner_homelinebox_bottom.png) bottom left no-repeat;
 	width: 100%;
 	padding-bottom: 7px;
 	}
	
ul#homeServicesList {
	width: 150px;
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
	}
	
ul#homeServicesList li {
	margin-bottom: 1.5em;
	}
	
ul#homeServicesList li a {
	display: block;
	}
	
ul#homeServicesList li#rhel a {
	background: url(/g/chrome/listitem_rhelhomepage.png) 0 0 no-repeat;
	width: 141px;
	height: 25px;
	}
	
ul#homeServicesList li#rhel a span {
	display: none;
	}
	
ul#homeServicesList li#rhn a {
	background: url(/g/chrome/listitem_rhnhomepage.png) 0 0 no-repeat;
	width: 90px;
	height: 25px;
	}
	
ul#homeServicesList li#rhn a span {
	display: none;
	}
	
ul#homeServicesList li#rhas a {
	background: url(/g/chrome/listitem_rhashomepage.png) 0 0 no-repeat;
	width: 155px;
	height: 25px;
	}
	
ul#homeServicesList li#rhas a span {
	display: none;
	}
	
ul#homeServicesList li#rhgfs a {
	background: url(/g/chrome/listitem_rhgfshomepage.png) 0 0 no-repeat;
	width: 155px;
	height: 25px;
	}
	
ul#homeServicesList li#rhgfs a span {
	display: none;
	}
	
ul#homeServicesList li#rhgcs a {
	background: url(/g/chrome/listitem_rhgcs.png) 0 0 no-repeat;
	width: 132px;
	height: 25px;
	}
	
ul#homeServicesList li#rhgcs a span {
	display: none;
	}
	
#contentHomeSolutions {
	margin-left: 178px;
	}
	
ul.bigArrowList {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	}
	
ul.bigArrowList li {
	background-image: url(/g/chrome/bullet_bluearrow_dot.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	padding: 1px 0 1px 18px;
	}
	
.contentHomeNewsCol ul.bigArrowList li {
	background-image: url(/g/chrome/bullet_bluearrow_dot.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 1px 0 1px 18px;
	}
	
ul.bigArrowList li a {
	text-decoration: none;
	font-weight: bold;
	}
	
#headosaHomepg {
	background-image: url(/g/chrome/head_osahomepage.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-bottom: 0;
	height: 12px;
	}
	
h1#headosaHomepg span {
	display: none;
	}
	
#contentHomeMain h2 {
	font-size: 1em;
	padding-top: .3em;
	}
	
#contentHomeNews {
	float: left;
	width: 360px;
	padding: 0;
	}
	
.contentHomeNewsCol {
	width: 165px;
	padding: 0;
	margin-left: 15px;
	float: left;
	font-size: smaller;
	}
	
.contentHomeNews2Col {
	clear: left;
	}
	
    /* Holly Hack Targets IE Win only \*/
    * html .contentHomeNews2Col {margin-left: -15px;}
    /* End Holly Hack */
	
.contentHomeNewsCol h2 {
	font-size: 10px;
	}
	
.contentHomeNewsCol p {
	margin-bottom: 1.5em;
	line-height: 1.6em;
	}
	
.contentHomeNewsCol a {
	text-decoration: none;
	}
	
/************************************************************** RH ENTERPRISE LINUX PAGES */

.successByline{
	font-size: small;
	color: #999;
	}

.successQuote {
	color: #999;
	font-size: small;
    font-weight: bold;
	}

/* 2 col even lists  */
ul.doubleList {
	padding-left: 75px;
	}
ul.doubleListTwo {
	padding-right: 50px;	
	}

/* img align and padding for success stories /solutions/info/casestudies/ */

.ssCol1 {
	float: left;
	margin: 0 15px 0 0;
	}
.ssCol2 {
	float: left;
	margin: 0 30px 0 0;
	}
.ssCol3 {
	}
.ssCol3:after {
    content: "."; 
    display: block; 
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .ssCol3 {height: 1%;}
    /* End Holly Hack */


img.storyPic {
	float: left;
	text-align: left;
	padding-right: 15px;
	padding-bottom: 30px;
	}

.storyTitleBlock {
	margin-bottom: 10px;
	overflow: auto;
	}

	

/************************************************************** STORE PAGES */
	
#storeMain {
	margin: 0 15px;
	}

#storeHead {
	margin: 0;
	}
	
#storeCart {
	text-align: right;
	}

.buyBlue a {
	color:#00A7E4;
	font-weight:bold;
	font-size:small;
	padding: 1px 3px;
	border: 1px solid #00A7E4;
	text-decoration:none;
	background-color:#fff;
	}
	
.buyBlue a:hover {
	color:#fff;
	background-color:#00A7E4;
	}
	
.buyGreen a {
	color:#a2bd1c;
	font-weight:bold;
	font-size:small;
	padding: 0 2px;
	border: 1px solid #a2bd1c;
	text-decoration:none;
	background-color:#fff;
	}
	
.buyGreen a:hover {
	color:#fff;
	background-color:#a2bd1c;
	}
	
.buyOrange a {
	color:#faa614;
	font-weight:bold;
	font-size:small;
	padding: 0 2px;
	border: 1px solid #faa614;
	text-decoration:none;
	background-color:#fff;
	}	
	
.buyOrange a:hover {
	color:#fff;
	background-color:#faa614;
	}
	
.buyRed a {
	color:#b70000;
	font-weight:bold;
	font-size:small;
	padding: 0 2px;
	border: 1px solid #b70000;
	text-decoration:none;
	background-color:#fff;
	}
	
.buyRed a:hover {
	color:#fff;
	background-color:#b70000;
	}

.popUp	{
	text-align: center;
	margin: 5px 15px;
	background-color:#fff;
	padding: 10px;
	width:350px;
	}
	
.popUp2	{
	text-align: center;
	margin: 5px 15px;
	background-color:#fff;
	padding: 10px;
	width:400px;
	}
	
/************************************************************** SERVICE PAGES */

/* AIM box styles for /services/aim.html and subpages */

table.aim {
	margin: 15px 0;
	}
	
table.aim th {
	text-align:center;
	font-size: small;
	}
	
/************************************************************** SOLUTIONS PAGES */	
	
div#imgOSA {
	width: 550px;
 	}
 	
.wrapOSA {
	text-align: center;
	vertical-align: top;
	margin: 0 15px 15px 15px;
	}
	
.wrapOSA img {
	vertical-align: top;
	}
	
.wrapOSA img.osaCenter {
	margin: 0 30px;
	}
	

/* SOLUTIONS PARTNER SPOTLIGHTS */

#menuList li
{
display: inline;
list-style-type: none;
}

#menuContainer
{
margin-bottom: 15px;
width: 565px;
}

#menuContainer ul
{
list-style-type: none;
text-align: right;
padding: 0;
position: relative;
}

#menuContainer li
{
display: inline;
text-align: center;
margin: 0 0 0 2px;
}

#menuContainer li a
{
padding: 0 2px;
color: #666;
background-color: #fff;
border: 1px solid #ccc;
text-decoration: none;
text-transform: uppercase;
font-size: x-small;
}

#menuContainer li a:hover
{
color: #000;
border: 1px solid #666;
border-top: 2px solid #666;
border-bottom: 2px solid #666;
}

#menuContainer li a#current
{
color: #000;
border: 1px solid #666;
border-top: 2px solid #666;
border-bottom: 2px solid #666;
}

.logoWrap {
	margin-bottom: 30px;
	width: 565px;
	}
	
div.visit {
	text-align: right;
	margin-bottom: 0;
	margin-top: -15px;
	font-size: x-small;
	text-decoration: none;
 	}
 	
/* FOR NA SKU LIST */

#sku td {
	color:#000;
	font-weight:normal;
	font-size:small;
	}
	
#sku td.main {
	color:#666;
	font-size:x-small;
	font-weight: bold;
	white-space:nowrap;
	}
	
#sku th.cat {
	font-size: large;
	font-weight: bold;
	color: #fff;
	background-color:#900;
	height:30px;
	}
	
#sku td.sub1 {
	color:#fff;
	background-color:#999;
	font-weight:bold;
	font-size:medium;
	height:25px;
	}
	
#sku td.subcat1 {
	color:#fff;
	background-color:#999;
	font-weight:bold;
	font-size:small;
	}
	
#sku td.sub2 {
	color:#fff;
	background-color:#333;
	font-weight:bold;
	font-size:medium;
	height:25px;
	}
	
#sku td.subcat2 {
	color:#fff;
	background-color:#333;
	font-weight:bold;
	font-size:small;
	}
	
/* Choice landing page */

h1#headchoice {
	background-image: url(/g/choice_logo.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 55px;
	}

	
h1#headchoice span {
	display: none;
	}


div#choice {
	width: 720px;
	margin: 25px 0;
	background: #fff url(/g/chrome/choice_back.gif) top center repeat-y;
	border-bottom: 1px solid white;
	}
	
div#choice:after {
    content: "."; 
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #choice {height: 1%;}
    /* End Holly Hack */
	
div#choice h2 {
	text-align: right;
	font-size: x-small;
	color: #999;
	margin: 0 0 1.5em 0;
	}
	
div#choice p {
	margin-top: 0;
	line-height: 1.3em;
	}
	
div#choice h3 {
	margin-bottom: .25em;
	font-size: x-small;
	}
	
div#choice ul.plain {
	margin: 0 0 1em 0;
	padding-left: 10px;
	list-style: none;
	}
	
div#choice ul.plain li {
	padding: 0.30em 0;
	}

div.choiceCol {
	width: 160px;
	float: left;
	padding: 0 10px;
	font-size: x-small;
	}
	
/* Truth Happens page */

.thenumbers {
	margin-bottom: 1.5em;
	margin-left: 15px;
	font-family: verdana, sans-serif; 
	font-size: 11px;
	}
	
.thenumbers p {
	margin: 0;
	padding: 0;
	}
	
.thefirst, .thesecond, .thethird, .thefourth, .thefifth, .thesixth {
	vertical-align: bottom;
	font-size: 9px; 
	color: #b4b19a; 
	font-weight: bold;
	}
	
.thefirst {
	width: 110px; 
	}
	
.thesecond {
	width: 95px; 
	padding-left: 20px;
	}
	
.thethird {
	width: 80px; 
	padding-left: 10px;
	}
	
.thefourth {
	width: 70px; 
	padding-left: 20px;
	}
	
.thefifth {
	width: 80px; 
	padding-left: 10px;
	}
	
.thesixth {
	width: 63px; 
	padding-left: 10px;
	}
	
.thenumbers p strong {
	font-size: 2.3em; 
	line-height: 1.2em;
	}

/* styles for direct renewals / contract tables */

h2.contractsTab {
        margin-top: 15px;
        font-size: smaller;
        background: #b4b19a url(http://rhn.redhat.com/img/table_corner_tr.gif) top right no-repeat;
        padding-bottom: 0px;
        padding-top: 3px;
	margin-bottom: 0px;
        }
                                                                                                                                                                                        
h2.contractsTab span    {
        background: #b4b19a url(http://rhn.redhat.com/img/table_corner_tl.gif) top left no-repeat;
        font-size: small;
        color: #fff;
        padding-left: 7px;
        padding-top: 3px;
	margin: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
        }
                                                                                                                                                                                        
p.contractsTabText       {
        background-color: #b4b19a;
        font-size: xx-small;
        margin: 0px;
        padding: 3px 0px 9px 9px;
	border: 0px;
        }

.hedSummary {
	color: #666;
	font-weight: bolder;
	padding-left: 15px;
	line-height: 24px;
	}

/* styles for things in /promo/ */

#greyCurveWrap {
        background: #DEDEDE;
        margin: 30px 0 0 0;
        width: 720px;
        height: auto;
        }

#greyCurveTop {
        background: url(/g/landing/ibm_roadshow_top.gif) top left no-repeat;
        height: 20px
        width: 720px;
        }

#greyCurveBottom  {
        background: url(/g/landing/ibm_roadshow_bottom.gif) bottom left no-repeat;
	width: 720px;
	height: 20px;
        }

#whiteLogoBox  {
	margin: 30px 0px 0px 0px;
	padding: 25px 0px 25px 0px;
	background: #fff;
	width: 100%;
	text-align: center;
	}

#greyCurveWrap h1	{
	color: #c00;
	font-size: xx-large;
	text-align: center;
	margin: 10px 5px 0px 5px;
	padding: 0px;
	}

#greyCurveWrap h2	{
	color: #c00;
	font-size: large;
	margin: 0px 50px 5px 75px;
	padding: 0px;
	}

#greyCurveWrap h3	{
	color: #c00;
	font-size: large;
	margin: 15px 50px 5px 75px;
	padding: 0px;
	text-transform: uppercase;
	}

#greyCurveWrap p.text	{
	margin: 0px 50px 5px 75px;
	}

#greyCurveWrap ul	{
	margin: 10px 65px 10px 75px;
	padding: 0;
	}

#greyCurveWrap ul li {
	font-size: smaller;	
	margin: 0px 0px 5px 45px;
	padding: 0;
	}

#greyCurveWrap p.floatLeft  {
	font-weight: bold;
	float: left;
	margin: 0px 50px 5px 75px;
	}

#greyCurveWrap p.floatRight {
	margin: 5px 50px 5px 350px;
	font-weight: bold;
	}

.agendaLeft	{
	padding-right: 50px;
	margin: 5px 0px 5px 75px;
	}

.agendaRight  {
	font-size: smaller;
	vertical-align: middle;
	}

#greyCurveWrap:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
    }
                                                                                                                                                                                         
    /* Holly Hack Targets IE Win only \*/
    * html greyCurve#Wrap {height: 1%;}
    /* End Holly Hack */
	
	
/* Videos */

#videoWrap a {
	color: #cc0000;
	text-decoration: none;
	}

.videoHeadInner {
	padding: 60px 15px 15px 15px; 
	color: #ffffff;
	}
	
.videoHeadInner img {
	float: left; 
	padding: 0 15px 0 0;
	}

img.videoImg	{
	float: left;
	display: block;
	margin: 0 15px 0 0;
	}

ul.videoMore {
	list-style: none;
	padding-left: 0;
	margin: 0 0 30px 0;
	}
	
ul.videoMore li{
	background-image: url(/g/chrome/bullet_arrow_red.png);
	background-repeat: no-repeat;
	background-position: 0 .4em;
	padding-left: 10px;
	margin: .8em 0;
	}

ul.videoMore li a {
	font-weight: bold;
	}
	
ul.videoMore li a.view {
	font-weight: normal;
	font-size: smaller;
	}
    
 /* newsletter styles */
 
 .NLcontentIndent15 h2 {
 	font-size: large; 
 	color: #c00;
 	}
 	
 .NLcontentIndent15 h3 {
 	font-size: large;
 	}
 	
 .NLcontentIndent15 h4 {
 	font-size: medium; 
 	color: #666;
 	}
 
 .NLcontentIndent15 h4.NLDate {
 	font-size: small;
 	color: #c00;
 	}
 
 #NLGrey {
 	width: 720px; 
 	margin: 20px auto 20px auto; 
 	background: #dedede url(/g/landing/ibm_roadshow_top.gif) top left no-repeat;
 	}
 	
 #NLGreyLCol {
 	float: left; 
 	width: 515px; 
 	margin: 15px; 
 	background: white url(/g/chrome/corner_subnews_bottom.gif) bottom right no-repeat; 
 	padding-bottom: 20px;
 	}
 	
 #NLGreyRCol {
 	margin-left: 545px; 
 	padding: 85px 15px 0 0;
 	}
 	
 #NLGreyBottom {
 	width: 720px; height: 20px; 
 	background: url(/g/landing/ibm_roadshow_bottom.gif) bottom right no-repeat; 
 	clear: both;
 	}
 	
 .NLcontentIndent15 {
 	margin: 0 15px;
 	}
 	
 /* newsletter titles */
 
 h1#SubNews {
 	width: 515px; 
 	height: 59px; 
 	background: url(/g/subnew_header.png) 0 0 no-repeat;
 	}
 	
 h1#SubNews span {
 	display: none;
 	}
 	
/* Summit05 promo */

#homeSummit {
 	font-size: 11px;
 	color: #666;
	}
	
#homeSummit p, #homeSummit h2, #homeSummit h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	}
	
#homeSummit a {
	text-decoration: none;
	}

#homeSummitHeader h2 {
	background: url(/g/promos/summit05/head_homeSummit.png) top left no-repeat;
	width: 157px;
	height: 10px;
	text-indent: -10000px;
	}
	
#homeSummitHeader img {
	float: right; 
	margin-left: 30px;
	}
	
#homeSummitPhotos {
	position: relative;
	width: 317px;
	height: 120px;
	margin: 30px 0 35px -14px;
	z-index: 1;
	}
	
.homeSummitSpeak1, .homeSummitSpeak2, .homeSummitSpeak3, .homeSummitSpeak4, .homeSummitSpeak5, .homeSummitSpeak6, .homeSummitSpeak7, .homeSummitSpeak8 {
	display: block;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	text-indent: -10000px;
	text-decoration: none;
	width: 48px;
	height: 48px;
	}
	
.homeSummitSpeak1 {
	background: url(/g/promos/summit05/szulik_off.jpg) top left no-repeat;
	}
	
.homeSummitSpeak2 {
	background: url(/g/promos/summit05/tiemann_off.jpg) top left no-repeat;
	}
	
.homeSummitSpeak3 {
	background: url(/g/promos/summit05/buckman_off.jpg) top left no-repeat;
	}
	
.homeSummitSpeak4 {
	background: url(/g/promos/summit05/wheaton_off.jpg) top left no-repeat;
	}
	
.homeSummitSpeak5 {
	background: url(/g/promos/summit05/mau_off.jpg) top left no-repeat;
	}
	
.homeSummitSpeak6 {
	background: url(/g/promos/summit05/fink_off.jpg) top left no-repeat;
	}
	
.homeSummitSpeak7 {
	background: url(/g/promos/summit05/wirt_off.jpg) top left no-repeat;
	}
	
.homeSummitSpeak8 {
	background: url(/g/promos/summit05/berger_off.jpg) top left no-repeat;
	}
	
.homeSummitSpeak {
	position: absolute;
	top: 53px;
	left: 159px;
	width: 180px;
	height: 70px;
	z-index: 100;
	}
	
.homeSummitSpeak p {
	line-height: 1.2em;
	}
	
#homeSummitPhotos a span {
	display: none;
	}
	
#homeSummitPhotos a:hover span {
	display: block;
	position: absolute;
	top: 53px;
	left: 159px;
	height: 75px;
	width: 180px;
	text-indent: 0;
	z-index: 200;
	background: white;
	color: black;
	}
	
.homeSummitSpeak1:hover {
	background: url(/g/promos/summit05/szulik_on.jpg) top left no-repeat;
	}
	
.homeSummitSpeak2:hover {
	background: url(/g/promos/summit05/tiemann_on.jpg) top left no-repeat;
	}
	
.homeSummitSpeak3:hover {
	background: url(/g/promos/summit05/buckman_on.jpg) top left no-repeat;
	}
	
.homeSummitSpeak4:hover {
	background: url(/g/promos/summit05/wheaton_on.jpg) top left no-repeat;
	}
	
.homeSummitSpeak5:hover {
	background: url(/g/promos/summit05/mau_on.jpg) top left no-repeat;
	}
	
.homeSummitSpeak6:hover {
	background: url(/g/promos/summit05/fink_on.jpg) top left no-repeat;
	}
	
.homeSummitSpeak7:hover {
	background: url(/g/promos/summit05/wirt_on.jpg) top left no-repeat;
	}
	
.homeSummitSpeak8:hover {
	background: url(/g/promos/summit05/berger_on.jpg) top left no-repeat;
	}
	
#homeSummitFooter p {
	text-align: right;
	font-size: 10px;
	}
	
#homeSummitFooter a {
	color: #900;
	font-weight: bold;
	}
	
#summitLive {
	width: 360px;
	float: left;
 	margin-bottom: 15px;
	height: 262px;
	}
	
#summitLive h2,#summitLive p {
	text-indent: -10000px;
		}
		
		
 /* HP ADVOCATE PROMO */
 
 #hpAgenda {
	margin: 5px 0px 5px 75px;
	}
 
 #hpAgenda p {
 	font-size:smaller;
 	margin: 5px 0px 5px 15px;
	}
	
#hpRegister {
	float: right;
	width: 350px;
	}

 
/* New Truth Happens pages */
        
#truthWrap {
	background: black url('/g/landing/truthhappens_background.png') no-repeat;
	width: 716px;
	margin: 0px;
	padding: 0px;
	}

#truthBottom {
	background: url(/g/landing/truthhappens_bottom.png) no-repeat;
	height: 27px;
	width: 716px;
	}

#truthContent {
	margin: 0px;
	padding-top: 130px;
	padding-left: 25px;
	padding-right: 25px;
	}

#truthContent p {
	color: white;
	font-size: 10pt;
 font-family: "Lucida Grande", "Luxi Sans", "Bitstream Vera Sans", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	}

#truthContent a {
	color: white;
	text-decoration: underline;
	}

#truthContent h1 {
        text-transform: uppercase;
        color: #FFFFFF;
        }
        
#truthContent h2 {
        text-transform: uppercase;
        color: #ffffff;
        }
        
        
#truthContent h3 {
        text-transform: uppercase;
        color: #ffffff;
        }


#videoWrapper {
	clear: both;
	height: 150px;
	margin: 0px;
	padding-top: 10px;
	}

#videoFloat {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	width: 210px;
	float: left;
	}

#videoFloat a {
	color: #ff0000;
	text-decoration: none;
	font-size: 8pt;
	font-weight: 700;
	}

#halfWrapper {
        clear: both;
        height: 400px;
        margin: 0px;
        padding-top: 10px;
        }

#truthHalf {
	padding-right: 10px;
	width: 320px;
	float: left;
	}

#truthHalf p {
        color: white;
        font-size: 10pt;
        font-family: helvetica, sans-serif;
        }

#truthHalf ul {
	color: white;
	margin-left:-20px;
	font-size: 9pt;
	font-family: helvetica, sans-serif;
	}

#truthHalf a {
	text-decoration: underline;
	color: white;
	}

#introWrapper {        width: 560px;        }
/* end Truth Happens */ 
 
