/************************************************************** UTILITY LINKS */
	
#utilityLinks {
	float: left;
	width: 243px;
	margin-left: 135px;
	}
	
#utilityLinks ul {
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
	list-style-type: none;
	}
	
#utilityLinks ul li {
	display: block;
	float: left;
	text-align: center;
	padding: 0;
	margin: 0;
	}
	
#utilityLinks ul li a {
	display: block;
	}
	
#utilityLinks ul li a span {
	display: none;
	}
	
#utilityLinks ul li a#sixth {
	width: 82px;
	height: 30px;
	background-image: url(/g/chrome/link_utility_support.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	}
body#mainsix #utilityLinks a#sixth {
	background-image: url(/g/chrome/link_utility_support-on.png);
	background-repeat: no-repeat;
	background-position: 0 5px;
	}
	
#utilityLinks ul li a#seventh {
	width: 70px;
	height: 30px;
	background-image: url(/g/chrome/link_utility_store.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	}
body#mainseven #utilityLinks a#seventh {
	background-image: url(/g/chrome/link_utility_store-on.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	}
		
#utilityLinks ul li a#eighth {
	width: 91px;
	height: 30px;
	background-image: url(/g/chrome/link_utility_download.gif);
	background-repeat: no-repeat;
	background-position: 0 5px;
	}
body#maineight #utilityLinks a#eighth {
	background-image: url(/g/chrome/link_utility_download-on.png);
	background-repeat: no-repeat;
	background-position: 0 5px;
	}
	
img#banner {
	margin-bottom: 7px;
	}
	
/************************************************************** MAIN NAVIGATION */
	
#mainNavOuter {
	width: 100%;
	background-image: url(/g/chrome/corner_mainnav_bottom.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: #c00;
	}
	
#mainNav {
	width: 100%;
	font-weight: bold;
	font-family: "Luxi Sans", verdana, helvetica, arial, sans-serif;
	}
    
    
#mainNavInner {
	width: 100%;
	height: 22px;
	background-image: url(/g/chrome/corner_mainnav_top.png);
	background-position: top right;
	background-repeat: no-repeat;
	}
	
#mainNav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-image: url(/g/chrome/corner_mainnav_tl.png);
	background-position: top left;
	background-repeat: no-repeat;
	}
	
#mainNav ul li {
	background: #b70000;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	}
	
body#mainone #mainNav li#mainFirst,
body#maintwo #mainNav li#mainSecond,
body#mainthree #mainNav li#mainThird,
body#mainfour #mainNav li#mainFourth,
body#mainfive #mainNav li#mainFifth,
body#mainend #mainNav li#mainLast {
	background-color: #800000;
	}
	
#mainNav ul li a#mainFirstLink {
	background-image: url(/g/chrome/corner_mainnav_tl.png);
	background-position: top left;
	background-repeat: no-repeat;
	}
	
body#mainone #mainNav li a#mainFirstLink {
	background-image: url(/g/chrome/corner_mainnav_tl_hi.png);
	}
	
#mainNav ul li#mainFirst {
	background-image: url(/g/chrome/corner_mainnav_bl.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	}
	
body#mainone #mainNav li#mainFirst {
	background-image: url(/g/chrome/corner_mainnav_bl_hi.png);
	}
	
#mainNav ul li a#mainLastLink {
	background-image: url(/g/chrome/corner_mainnav_tr.png);
	background-position: top right;
	background-repeat: no-repeat;
	}
	
body#mainend #mainNav li a#mainLastLink {
	background-image: url(/g/chrome/corner_mainnav_tr_hi.png);
	}
	
#mainNav ul li#mainLast {
	background-image: url(/g/chrome/corner_mainnav_br.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	}
	
body#mainend #mainNav li#mainLast {
	background-image: url(/g/chrome/corner_mainnav_br_hi.png);
	}
	
#mainNav ul li a {
	display: block;
	float: left;
	text-decoration: none;
	color: #fff;
	padding: 4px 15px 3px 15px;
	font-size: x-small;
	height: 15px;
	}
	
#worldwide {
	float: right;
	margin: 0 15px 0 0;
	padding: 0;
	}
	
    /* Holly Hack Targets IE Win only \*/
    * html #worldwide {margin: 0 7px 0 0;} /* have no clue WHY this works */
    /* End Holly Hack */
	
#worldwide ul {
	margin: 0; 
	padding: 0;
	}
	
#worldwide ul>a {
	width: auto;
	}
	
#worldwide ul li {
	position: relative; 
	list-style: none; 
	margin: 0; 
	background-color: #c00;
	}
	
#worldwide ul li a {
	display: block; 
  	text-decoration: none;
  	padding: 5px 0;
  	}
  	
#worldwide ul li a.wwLevelOne {
	width: 76px;
	height: 22px;
	background: url(/g/chrome/link_worldwide.png) 50% 50% no-repeat;
	padding: 0;
  	}
  	
#worldwide ul li a.wwLevelOne span {
	display: none;
  	}
	
#worldwide ul li:hover ul {
	display: block;
	}
	
#worldwide ul ul {
	position: absolute; 
	top: 22px;
	left: -19px;
	display: none;
	width: 110px;
	background: url(/g/chrome/corner_wwDrop_top.gif) top left no-repeat;
	padding-top: 10px;
	}
	
#worldwide ul ul li a {
	width: 90px;
	padding: 5px 15px 5px 5px;
	font-weight: normal;
	text-align: right;
	height: auto; /* recovers from height of "ul li a" above */
	background-color: #999;
	}
	
#worldwide ul ul li.wwLast {
	background: url(/g/chrome/corner_wwDrop_bottom.gif) bottom right no-repeat;
	padding-bottom: 10px;
	}
	
/*
#worldwide a {
	display: block;
	width: 76px;
	height: 15px;
	background-image: url(/g/chrome/link_worldwide.png);
	background-repeat: no-repeat;
	}
	
#worldwide a span {
	display: none;
	}
*/
	
/************************************************************** SECONDARY NAVIGATION */
	
#secNavOuter {
	width: 100%;
	background-image: url(/g/chrome/corner_secnav_bottom.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	background-color: #e6e6e6;
	}
	
#secNav {
	width: 100%;
	font-weight: normal;
	font-family: "Luxi Sans", verdana, helvetica, arial, sans-serif;	
	font-size: x-small;
	}
	
#secNavOuter:after {
    content: "."; 
    display: block; 
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html .secNavOuter {height: 1%;}
    /* End Holly Hack */
    
#secNavInner {
	width: 100%;
	height: 7px;
	background-image: url(/g/chrome/corner_secnav_top.png);
	background-position: top right;
	background-repeat: no-repeat;
	}
	
#secNav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-image: url(/g/chrome/corner_secnav_tl.gif);
	background-position: top left;
	background-repeat: no-repeat;
	}
	
#secNav ul li {
	background: #999;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	}
	
ul#secone li#secFirst,
ul#sectwo li#secSecond,
ul#secthree li#secThird,
ul#secfour li#secFourth,
ul#secfive li#secFifth,
ul#secsix li#secSixth,
ul#secseven li#secSeventh,
ul#seceight li#secEighth,
ul#secend li#secLast {
	background-color: #565656;
	}
	
#secNav ul li a#secFirstLink {
	background-image: url(/g/chrome/corner_secnav_tl.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding-left: 15px;
	}
	
#secNav ul#secone li a#secFirstLink {
	background-image: url(/g/chrome/corner_secnav_tl_hi.png);
	}
	
#secNav ul li#secFirst {
	background-image: url(/g/chrome/corner_secnav_bl.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	}
	
#secNav ul#secone li#secFirst {
	background-image: url(/g/chrome/corner_secnav_bl_hi.png);
	}
	
#secNav ul li a#secLastLink {
	background-image: url(/g/chrome/corner_secnav_tr.gif);
	background-position: top right;
	background-repeat: no-repeat;
	padding-right: 15px;
	}
	

#secNav ul#secend li a#secLastLink {
	background-image: url(/g/chrome/corner_secnav_tr_hi.png);
	}
	
#secNav ul li#secLast {
	background-image: url(/g/chrome/corner_secnav_br.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	}
	

#secNav ul#secend li#secLast {
	background-image: url(/g/chrome/corner_secnav_br_hi.png);
	}
	
#secNav ul li a {
	display: block;
	float: left;
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	font-size: 10px;
	}
/* hide rule from ie5 mac \*/
#secNav ul li a {
	float: none;
	}
	
#mainNav ul li a:hover, #worldwide ul ul li a:hover, #secNav ul li a:hover {
	color: #000;
	}
    
/************************************************************** SIDE NAVIGATION */
	
#sidenav {
	width: 132px;
	background-color: #999;
	background-image: url(/g/chrome/corner_sidenav_top.gif);
	background-position: top right;
	background-repeat: no-repeat;
	font-family: "Luxi Sans", verdana, arial, sans-serif;	
	font-size: x-small;
	font-weight: bold;
	}
	
#sidenav ul {
	background-image: url(/g/chrome/corner_sidenav_bottom.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	list-style: none;
	padding: 10px 0 10px 0;
	margin: 0;
	}
	
#sidenav ul ul {
	background: none;
	background-color: #c1c1c1;
	margin: 0;
	padding: 0;
	}
	
#sidenav ul li {
	border-bottom: 1px solid #a7a7a7;
	margin: 0;
	}
	
#sidenav ul li:last-child {
	border-bottom: 1px solid #999;
	}
	
#sidenav ul li.navon {
	background: #6c6c6c;
	}
	
#sidenav ul li.navon span {
	display: none;
	}
	
#sidenav ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 3px 5px 3px 15px;
	margin: 0;
	}
	
#sidenav ul ul li a.navon {
	background: #8a8a8a;
	}
	
#sidenav ul ul li:last-child {
	border-bottom: none;
	}
	
#sidenav ul ul li a {
	padding-left: 30px;
	}
	
 #sidenav ul li a:hover {
	color: #333;
	}
	
/************************************************************** RELATED LINKS */

#moreinfo {
	width: 132px;
	background: #f5f5f5;
	background-image: url(/g/chrome/corner_moreinfo_top.png);
	background-repeat: no-repeat;
	background-position: top right;
	margin-top: 10px;
	}
	
#moreinfo ul {
	padding: 5px 5px 10px 10px;
	list-style: none;
	margin: 0;
	background-image: url(/g/chrome/corner_moreinfo_bottom.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	}
	
#moreinfo ul li {	
	font-size: x-small;
	background-image: url(/g/chrome/bullet_grayarrow.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
	padding-left: 6px;
	margin: .33em 0;
	}
	
#moreinfo ul li a {
	color: #666;
	text-decoration: none;
	}
	
#moreinfo ul li a:hover {
	color: #333;
	}
	
#moreinfo h4 {
	font-size: x-small;
	color: #666;
	margin: 0;
	padding: 10px 0 0 15px;
	}