/* 	Red Hat Magazine MASTER style sheet

-------------------------------------------------------------------- created November 2004 */

@import url("rhmag_main.css");
@import url("rhmagColor_011sep2005.css");

body#rhmpop	{
	background: #f7f2d0;
	font-family: "Luxi Sans", "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", helvetica, verdana, arial, sans-serif; 
        font-size: x-small;
	margin: 20px 10px;
	}

body#rhmpop pre	{
	padding: 10px;
	}

img.rhnFigs	{
	border: 0;
	margin: 10px 0px 0px -15px;
	}

div.captionRhnFigs {         
	background-image: none;
        font-size: x-small;
        font-weight: bold;
        font-style: normal;
        color: #666;
        margin-bottom: 1.6em;
	margin-left: -15px;
        }

div.bookList	{
	float: left; 
	margin: 10px 10px 10px 0;
	}

p.recommendBy	{
	font-weight: bold;
	color: #666;
	}

