/* red hat magazine stylesheet */

#rhmagCenter {
	float: left;
	width: 350px;
	}
	
#rhmagCenter .article, #rhmagCenter .department {
	/*width: 535px;*/
	width: 650px;
	}
	
#rhmagLeft {
	float: left;
	width: 170px;
	margin-right: 15px;
	}
	
/* Holly Hack Targets IE Win only \*/
* html #rhmagLeft {margin-right: 12px;}
/* End Holly Hack */
	
#rhmagRight	{
	float: left;
	width: 170px;
	margin-left: 15px;
	}
	
#rhmagRight, #rhmagLeft, #rhmagCenter {
	font-size: small;
	margin-top: .5em;
	}
	
p#issueDate {
	margin: .5em 0 0 15px;
	padding: 0;
	color: #666;
	font-size: x-small;
	}
	
p.authorblurb {
	font-size: small;
	}
	
div.caption {
	background-image: none;
	font-size: small;
	font-weight: bold;
	font-style: normal;
	color: #666;
	margin-bottom: 1.6em;
	}
	
	
	
	
	
table.basic4 {
	background-color: #f7f2d0
	}
	
table.basic4 td, table.basic4 th {
	border: 1px solid white;
	padding: 10px;
	}
	
table.basic4 th {
	background-color: #c6c2a6;
	font-size: small;
	color: white;
	border-bottom-width: 2px;
	}

table.onGreen {
	background-color: #fff;
	border-collapse: collapse;
	margin: 0 auto 1.5em auto;
		}

table.onGreen td, table.onGreen th {
	border: 1px solid #999;
	padding: 10px;
	}

table.onGreen th {
	background-color: #999;
	font-size: x-small;
	text-transform: uppercase;
	color: #fff;
	border: none;
	}	
	
	
	
#nameplate {
	background: url(/g/magazine/nameplate_top.gif) 0 0 no-repeat;
	}
	
#nameplate .inner {
	background: url(/g/magazine/nameplate_bottom.gif) 100% 100% no-repeat;
	padding-bottom: 12px;
	}
	
img#rhmagLogo {
	background: url(/g/magazine/rhmag_logo.gif) bottom center no-repeat;
	height: 70px;
	padding-top: 12px;
	padding-bottom: 0;
	margin-bottom: -3px;
	}
	
#nameplate h2 {
	font-family: verdana;
	font-size: xx-small;
	font-weight: normal;
	margin: 0;
	padding: 2px 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	}
	
#nameplate ul {
	background: #fff;
	padding: 14px 18px 21px 15px;
	margin: 0 0 0px 0;
	list-style-type: none;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	}
	
#nameplate ul li {
	font-size: xx-small;
	padding: .33em 0;
	margin: 0;
	}
	
#nameplate a:link, #nameplate a:visited {
	color: #666;
	text-decoration: none;
	}
	
#nameplate a:hover {
	color: black;
	}
	
	
	
	
.promoBox {
	margin-top: 1em;
	padding-top: 12px;
	background: #ddd url(/g/magazine/nameplate_top.gif) 0 0 no-repeat;
	}
	
.promoBox .inner {
	background: url(/g/magazine/promoBox_bottom.gif) 100% 100% no-repeat;
	padding-bottom: 12px;
	}
	
.promoBox h4 {
	padding: 0px 5px 3px 15px;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	font-size: medium;
	}
	
.promoBox p {
	margin: 0;
	padding: 0;
	font-size: x-small;
	padding-left: 15px;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	}
	
.promoBox form {
	margin: 0;
	padding: 0;
	padding-left: 15px;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	font-size: x-small;
	}
	
.promoBox form input {
	background: #eee;
	font-size: 10px;
	margin: 3px 0;
	}
		
ul#techFeature, { 
	margin-left: -10px;
	margin-top: -5px; 
	list-style: none;
	}
	
ul#techFeature li { 
	font-size: x-small; 
	font-weight: bold;
	margin: 0; 
	padding-bottom: 5px; 
	}
	
ul#techFeature2, { 
	margin-left: -10px;
	margin-top: -10px; 
	}
	
ul#techFeature2 li { 
	font-size: x-small; 
	font-weight: bold;
	margin: 0; 
	padding-bottom: 5px; 
	}

#rhmagCenter h2, #rhmagRight h2 {
	margin-top: 12px;
	font-size: small;
	font-weight: normal;
	color: #c00000;
	margin-bottom: 1em;
	}
	
#rhmagRight h2 {
	margin-top: 15px;
	}
	
#rhmagCenter .article h1 {
	padding-top: 10px;
	font-size: x-large;	/* this controls the size of non-Flash text */
	color: #333;
	}
	
#rhmagCenter .article h2 {
	font-size: medium;
	}
	
#rhmagCenter .home h3 {
	font-size: medium;	/* this controls the size of non-Flash text */
	}
	
#rhmagCenter .article h3 {
	color: #000;
	font-size: small;
	margin-bottom: 0;
	}
	
#rhmagCenter h4.byline {
	font-size: small;
	font-weight: bold;
	margin-bottom: 1em;
	}
	
#rhmagCenter .article h4.byline {
	margin-bottom: 2em;
	}
	
#rhmagCenter h3 a:link, #rhmagCenter h3 a:visited {
	color: inherit;
	}
	
#rhmagCenter h3 a:hover {
	color: #999;
	}
	
#rhmagCenter .article cite {
	font-weight: bold;
	}
	
#rhmagCenter p {
	margin: 0;
	margin-right: 1em;
	padding: 0;
	padding-bottom: 1.6em;
	}
	
#rhmagCenter ul, #rhmagCenter ol {
	padding-bottom: 1.6em;
	}
	
#rhmagCenter ul ul, #rhmagCenter ol ol {
	padding-bottom: 0;
	}
	
#rhmagCenter .article p, #rhmagCenter .department p, {
	line-height: 1.4em;
	}
	
div#RHCEtip {
	border: medium double #4C8A0F;
	background-color:#9EBE65;
	margin-bottom: 15px;
	}	

div.rhceInner {
	padding: 0 5px;
	}	
	
div#RHCEtip h3.byline {
	color:#FFFF55;
	margin-bottom: 15px;
	}
	
div#RHCEtip pre {
	background-color: #C9DEA3;
	}
	
div#rhmagCenter div.article ul li pre {
	width: 460px;
	}
	
#rhmagRight p {
	font-size: x-small;
	line-height: 1.4em;
	}
	
#rhmagRight img {
	margin-top: 1.5em;
	}
	
ul.homeMenu {
	margin-top: .5em;
	padding-left: 1em;
	}
	
ul.homeMenu li {
	list-style: outside url(/g/magazine/rhmag_linkbullet.gif);
	}
	
.home a, ul#articleMenu a, #rhmagRight a {
	text-decoration: none;
	}
	
ul#articleMenu {
	margin-top: 1.5em;
	padding-left: 1.5em;
	}
	
ul#articleMenu li {
	list-style: outside url(/g/magazine/rhmag_linkbullet.gif);
	}
	
#rhmagCenter .article h1 {
	margin-bottom: 0;
	}
	
#rhmagCenter .article h2 {
	margin-top: .5em;
	margin-bottom: 0;
	font-weight: bold;
	color: #000;
	}
	
#rhmagCenter .department h1 {
	width: 535px;
	height: 35px;
	margin: 0 0 1.5em 0;
	padding: 0;
	/*background-position: 0 0;
	background-repeat: no-repeat;
	text-indent: -9000px;*/
	}
	
#rhmagCenter .department h1#rhspeaks {
	background: url(/g/magazine/rhspeaks_535.png);
	}	
	
#rhmagCenter .department h1#fromtheinside {
	background: url(/g/magazine/from_the_inside_535.png);
	}	

#rhmagCenter .department h1#askshadowman {
	background: url(/g/magazine/askshadowman_535.png);
	}	

#rhmagCenter .department h1#tipstricks {
	    color: rgb(102,0,0);
	}	
	
#rhmagCenter .department h1#rhcetips {
	background: url(/g/magazine/rhcetips_535.png);
	height: 45px;
	width: 529px;
	}	

#rhmagCenter .department h1#fedorastatus {
	background: url(/g/magazine/fedora_status_535.png);
	}	

#rhmagCenter .department h1#contest {
	background: url(/g/magazine/contest_535.png);
	}	
	
#rhmagCenter .department h1#totheeditor {
	background: url(/g/magazine/to_editor_535.png);
	}	
	
#rhmagCenter .department h1#callforwriters {
	background: url(/g/magazine/call_for_writers_535.png);
	}
	
#rhmagCenter .department h2 {
	margin-top: 1.5em;
	margin-bottom: 0;
	font-size: large;
	font-weight: bold;
	color: #000;
	}
	
#rhmagCenter .department h2.shadow {
	color: #900;
	margin-top: 0;
	}
	
dl.event {
	margin-top: 0;
	}
	
dl.event dt {
	padding: .5em;
	}
	
dl.event em {
	font-size: larger;
	font-weight: normal;
	font-style: normal;
	color: #666;
	vertical-align: super;
	}
	
dl.event span {
	font-weight: normal;
	}
	
dl.event dd {
	margin-left: 0;
	background: #ddd;
	padding: .5em;
	}
	
	
	
	
	
#promos {
	background: url(/g/magazine/promos_bottom.gif) 100% 100% no-repeat;
	padding: 0px;
	}
	
#promos .inner {
	background: url(/g/magazine/promos_top.gif) 0 0 no-repeat;
	}
	
#promos .inner2 {
	padding: 15px 15px 5px 15px;
	}
	
*>#promos {padding-top: 231px; min-height: 0px;}
*>#promos .inner {padding-top: 231px; margin-top: -231px; min-height: 0px;}
*>#promos .inner2 {margin-top: -231px;}
* html #promos {
	/* IE5Mac filter \*/
	height: 231px;
	/* end filter */
}
	
#promos h4 {
	font-size: medium;
	color: #fff;
	margin-bottom: .5em;
	}
	
#promos p {
	font-size: small;
	color: #fff;
	margin: .75em 0;
	}
	
#promos a {
	color: #fff;
	text-decoration: underline;
	}
	
#promos form {
	margin: 0;
	padding: 0;
	}
	

#promos form input {
	background: #eee;
	}
	
.iconLeft {
	float: left;
	margin-right: 15px;
	}
	
.adnote, .adnoteOnGreen, .adwarning, .adtip, .adcaution, .adimportant {
	margin: 0;
	margin: 0 20px 1.6em 20px;
	padding: 10px 5px 15px 60px; 
	border: 1px dotted #c00;
	}
	
.adnote dt, .adnoteOnGreen dt, .adwarning dt, .adtip dt, .adcaution dt, .adimportant dt {
	float: left; 
	margin: 0; padding: 0 .5em 0 0; 
	color: #c00;
	}
	
.adnote dd, .adwarning dd, .adtip dd, .adcaution dd, .adimportant dd {
	margin: 0; 
	padding: 0;
	color: #666;
	border: 1px solid white;
	}
	
.adnoteOnGreen dd {
	margin: 0;
	padding: 0;
	color: #666;
	border: 1px solid #9EBE65;
	}
	

.adnote {
	background: url(/g/magazine/rhmag_note.gif) 10px 8px no-repeat;
	}

.adnoteOnGreen {
	background: url(/g/magazine/rhmag_noteOnGreen.gif) 10px 8px no-repeat;
        }
	
.adwarning {
	background: url(/g/magazine/rhmag_warning.gif) 10px 8px no-repeat;
	}
	
.adtip {
	background: url(/g/magazine/rhmag_tip.gif) 10px 8px no-repeat;
	}
	
.adcaution {
	background: url(/g/magazine/rhmag_caution.gif) 10px 8px no-repeat;
	}
	
.adimportant {
	background: url(/g/magazine/rhmag_important.gif) 10px 8px no-repeat;
	}
	
code {
	color: #000; 
	font-weight: bold;
	font-size: medium; 
	}

tt {
	color: #000; 
	font-size: medium; 
	}
	
pre {
	width: 615px;
	 background: #f7f2d0; 
	font-size: medium; 
	 padding: 10px;
	 overflow: auto;
	 overflow-y: visible;
	 }
	 
blockquote {
	float: right; 
	width: 190px; 
	margin: 0 0 0 2em; 
	padding: 1.6em 10px 0 10px;
	border-top: 4px solid #e2ddbd; 
	border-bottom: 4px solid #e2ddbd;
	}
	
blockquote p {
	font-family: Georgia, serif;
	font-weight: bold; 
	font-size: larger; 
	margin: 0; 
	padding: 0; 
	}
	
blockquote cite {
	padding: 0;
	margin: 0;
	color: #ffb340; 
	font-style: italic;
	}
	
	
	
.rhmagform dd {
	margin-left: 0;
	}
	
	
	
.qanda em {
	font-style: normal;
	font-weight: bold;
	color: #c00;
	}
	
.qanda strong {
	font-weight: bold;
	color: #0c2359;
	}

p.question 	{
	font-style: italic;
	margin: 0;
	padding: 0;
	}

p.answer	{
	margin: -1em 0 1em 0;
	padding: 0;
	}

.trademarkNoSuper	{
	font-size: smaller;
	}
	
/* problem, solution, explanation stylings for chip's articles */
                                                                                                                                                                                       
.pse {
        margin: 0 0 1em 0;
	padding: 0;
        border-top: 3px dotted #eee;
        }
                                                                                                                                                                                       
.pse h5.problem {
	font-weight: bold;
	font-size: small;
        color: #de6100;
	margin: 0 0 3px 0;
	text-transform: uppercase;
        }
                                                                                                                                                                                       
.pse h5.solution {
        color: #00774b;
	font-weight: bold;
        font-size: small;
	margin: 0 0 3px 0;
	text-transform: uppercase;
        }
                                                                                                                                                                                       
.pse h5.explanation {
        color: #002f5d;
	font-weight: bold;
        font-size: small;
        margin: 0 0 3px 0;
	text-transform: uppercase;
        }
                                                                                                                                                                                       
.pse p {
        font-style: normal;                                                                                                                                                                    }
		
/* archive */

.archive {
	margin-top: 2em;
	clear: both;
	}
	
.archive p {
	float: right;
	width: 305px;
	margin-left: 230px;
	}
	
.archive a {
	font-weight: bold;
	text-decoration: none;
	}
	
.archive img {
	float: left;
	margin-bottom: 2em;
	}
	
/* docbook styles */
div.quick-steps	{
	width: 505px;
	padding: 5px 10px;
	border: 2px dotted #bfbfbf;
	}	
h2.quick-steps	{
	vertical-align: middle;
	font-size: small;
	margin: 0;
	margin-top: -1.5em;
	}
div.quick-steps ol  {
	margin: 0 0 10px 35px;
	padding: 0;
	}

/* rate this page styles */

div.rateButton	{
	align: center;
	border: 2px dashed #333;
	padding: 5px; 
	}
div.rateButton a#rateButton	{
	border: 1px solid #333;
	background-color: #eee;
	color: #000;
	font-weight: bold;
	padding: 3px 4px;
	text-decoration: none;
	margin: 0;
	}	
div.rateButton a#rateButton:hover	{
	background-color: #c00;
	color: #fff;
	}
div.rateForm FORM	{
	font-size: x-small;
	}
div.rateLeft	{
	float: left;
	padding: 1em 1em 2em 1em;
	}


/* sIFR */

.sIFR-hasFlash #rhmagCenter .article h1 {
	visibility: hidden;
	letter-spacing: -.1px;
	font-size: 18pt;	/* this controls the size of the flash text */
	line-height: 1em;
}

.sIFR-hasFlash #rhmagCenter .home h3 {
	visibility: hidden;
	letter-spacing: -1px;
	font-size: 18px;	/* this controls the size of the flash text */
	line-height: 18px;
}


.sIFR-flash {
	visibility: visible !important;
	margin: 0;
}

.sIFR-replaced {
	visibility: visible !important;
}

span.sIFR-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

	
